<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container">

            <!-- edit.ejs -->

            <h2>Edit User</h2>
            <form method="post" action="/edit/<%= user._id %>">
                <!-- Your form fields for editing user data -->
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" value="<%= user.username %>">
            
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="<%= user.email %>">
            
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" value="<%= user.password %>">
            
                <button type="submit">Update User</button>
            </form>


    </div>

</body>
</html>